.new {
    display:flex;
    background-color: aqua;
    width:250px;
    height: 88px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
    /* align-content: space-around;
    align-items: space-around; */
}