.isPresent{
    color: white;
    border:1px solid green;
    background-color:green;
}
.isAbsent{
    color: white;
    border:1px solid red;
    background-color:red;
}
span{
    color:brown;
}
button{
    color:aliceblue;
    background-color:cadetblue
}
table{
    height:25px;
    width:103px;
}